.App {
  text-align: center;
  background: #121212;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  padding: 25px;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.Header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header-left > * {
  padding: 10px;
}

.App-header-div {
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
