.Page{
  background: whitesmoke;
  .page-nav{
    padding: 25px;
    background-color: #282c34;
    display: flex;
    img{
      cursor: pointer;
      height: 25px;
    }
    .page-nav-title{
      color: white;
      margin-left: 10px;
    }
  }
  .page-content{
    padding: 25px;
    img{
      height: 325px;
      border-radius: 10px;
    }
    .text-content{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      margin-left: 10px;
      .top-content{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        .genre{
          border: 2px solid #282c34;
          color: #282c34;
          margin-right: 10px;
          padding: 10px;
          background-color: indigo;
          border-radius: 10px;
        }
        .rating{

        }
      }
      .desc{
        border-radius: 10px;
        border: 2px solid #282c34;
        padding: 10px;
        color: #282c34;
        flex: 1;
        margin-bottom: 10px;
      }
      .production-country{
        border-radius: 10px;
        border: 2px solid #282c34;
        padding: 10px;
        color: #282c34;
      }
    }
    .search-text{
      display: block;
      font-size: 25px;
      padding: 10px 0;
    }
  }
}
