.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  color: white;
  div {
    margin: 0 25px;
    padding: 10px;
  }
  .Header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
      height: 25px;
    }
  }
}
.App-header:hover{
  cursor: pointer;
}